<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/MyService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyService" contract="IMyService"
                name="BasicHttpBinding_IMyService" />
            <endpoint address="net.tcp://localhost:9002/MyService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyService" contract="IMyService"
                name="NetTcpBinding_IMyService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-FCMOFM8" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>